// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.statuses {
  list-style-type: none;
  margin: 0 0 0px 0;
}
.statuses li {
  margin: 0;
  padding: 0;
}
.statuses .content {
  display: inline-block;
}
.statuses .meta {
  float: right;
  margin-top: 8px;
}
.statuses .meta a + a {
  margin-left: 16px;
}
.statuses li + li {
  margin-top: 20px;
}
.statuses .meta {
  // display: none;
  transition: all 0.1s;
  opacity: 0;
  visibility: hidden;
}
.statuses li.hover .meta,.statuses li:hover .meta {
  opacity: 1;
  // display: inline;
  visibility: visible;
}